table, th, td{
    border: 1px solid #868585;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 15px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: #eee;
}
tr:nth-child(even){
    background-color: #fff;
}
tr:nth-child(1){
    background-color: skyblue;
}
tr:hover{
    background-color: green;
}