/*CSS cho the body*/
body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}
 
ul {
    list-style-image: url('../images/bullet_green.png');
} 

h3{
	text-align: center;
}

/*CSS cho div main*/
#main{
    width: 1000px;
    padding: 0;
	background-color: #FFEBCD;
    margin-left: auto;
    margin-right: auto;
	margin-top: -0.2cm;
}

#head{
    height: 180px;	
    background-image: url('../images/banner-hoa.jpg');	     
} 
#head-link{
     font-size: 14px;
	 font-weight: bold;
	 color: #FFFFFF;
	 height: 30px;       
     background-color: #00AA00;    
	 line-height: 30px;
     padding-left: 8px;
     padding-right: 8px;	    
}
#head-link2{ 
	float:left;
	 width:180px;      
}
#head-link3{
    float:left;
	 width:800px;	 
}
#left{
     font-size: 14px;	
	 width: 194px;
     min-height: 400px;    
     float:left;     
     margin-bottom: 5px; 
}

/*CSS tao khung bo tron goc cua phan ben trai*/
#left1{
    background-color: #f0fff0;
	margin-bottom: 2px;
	margin-top: 2px; 	
	opacity: 0.8;
	border: thin silver solid;
	border-radius: 10px;
	padding: 2px 5px 5px 8px;
}

/*CSS cho phan giua*/
#content{
     width: 600px;
     min-height: 400px;  
	 color: blue;
	 font-weight: bold;	
     float:left;	
     margin: 1px 1px 1px 1px ;
	 padding: 1px 1px 5px 1px;	 
}
#hoa1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 200px;
}
#hoa2{
    float: left;
    margin-top: 5px;
}
#hoa3{
    float: right;
    margin-top: 5px;
}
.tenhoa{
    text-align: center;
    background-color: #f0fff0;
    font-weight: bold;
    height: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.bo{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.tenhoa{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.flowers img {
    height: 300px;
    width: 290px;
}

/*CSS tao khung bo tron goc cua phan ben phai*/
#right{
     width: 200px;
     min-height: 400px;     
     float:right;	
     margin-bottom: 5px;
}
#footer{
     height: 50px;
     clear: both;   
	 padding-top:20px;
     background-color: #1E90FF;
	 text-align: center;
	 font-size: 14px;	
	 color:#ffffff;	 
}
a{
    text-decoration: none;
}

