table{
    border: 5px groove #6633FF;
    padding: 1px;
}
th, td{
    border: thin solid #FFFFFF;
    padding: 5px;
}
tr.head{
    color:#FFFFFF;
    font-weight: bold;
    text-align: center;
    background-color: #6633FF;
}
tr.odd{
    background-color: #FFEEEE;
}
tr.even{
    background-color: #CCCCFF;
}